.App {
  text-align: center;
}
.App-body {
  background: #EAEAEA;
  padding-bottom: 32px;
}
.betHeader {
  width: 100%;
  height: 168px;
  background: #5634D1;
  margin-top: -82px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  font-family: 'Poppins';
  padding-top: 90px;
  color: #fff;
  text-align: left;
  padding-left: 32px;
  margin-bottom: -100px;
}